.theme-primary-text {
  color: #5663c1;
}

.theme-primary-bg {
  background-color: #5663c1;
}

.theme-secondary-text {
  color: crimson;
}

.theme-secondary-bg {
  background-color: #f7355c;
}

.theme-primary-btn {
  color: #fff;
  background-color: #5663c1;
  padding: 6px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 400;
}

.theme-primary-btn:hover {
  background-color: #404db6;
}

.theme-secondary-btn {
  color: #fff;
  background-color: #f7355c;
  padding: 6px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 400;
}

.theme-secondary-btn:hover {
  background-color: rgb(180, 10, 44);
}

#about iframe {
  border: 3px solid #5663c1;
  border-radius: 10px;
  width: 560px;
  height: 315px;
}

.slider-caption-bg {
  background-color: rgba(256, 256, 256, 0.6)
}

/* Responsive Design */

@media only screen and (max-width: 767px) {
  #about iframe {
    border: 3px solid #5663c1;
    border-radius: 10px;
    width: 380px;
    height: 300px;
  }
}